<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zodiac Info</title>
  <link rel="stylesheet" href="/css/pico.min.css"> <!-- Link to your CSS file -->
  <link rel="stylesheet" href="/css/styles.css"> <!-- Link to your CSS file -->
  <script src="/js/details.js"></script>
</head>

<body>
  <header>
    <div class="header-content">
      <h1>Zodiac Info</h1>
      <p>Zodiac signs are astrological symbols representing personality traits based on your birthdate's position in the
        celestial calendar.</p>
      <a href="/" role="button">Zodiacs</a>
    </div>
  </header>
  <main>
    <section class="zodiac-details">
      <div class="container">
        <h2 id="zodiac-name"></h2>
        <h4 id="zodiac-date"></h4>
        <h5 id="zodiac-element"></h5>
        <p id="zodiac-description"></p>
        <img id="zodiac-image"></img>
      </div>
    </section>
  </main>
</body>

</html>
