<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zodiac Info</title>
  <link rel="stylesheet" href="/css/pico.min.css"> <!-- Link to your CSS file -->
  <link rel="stylesheet" href="/css/styles.css"> <!-- Link to your CSS file -->
  <script src="/js/home.js"></script>
</head>

<body>
  <header>
    <div class="header-content">
      <h1>Zodiac Info</h1>
      <p>Zodiac signs are astrological symbols representing personality traits based on your birthdate's position in the
        celestial calendar.</p>
      <a href="/" role="button">Zodiacs</a>
    </div>
  </header>

  <main>
    <section class="" id="zodiac-cards">
      <!-- Zodiac cards will be injected here -->
    </section>
  </main>
</body>

</html>
