<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="stylesheet" href="/css/pico.min.css" />
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- Link to your CSS file -->
  </head>

  <body>
    <header>
      <div class="header-content">
        <h1>404</h1>
        <p>Page Not Found</p>
        <a href="/" role="button">Zodiacs</a>
      </div>
    </header>
  </body>
</html>
