body {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

header {
  height: 100vh;
  width: 100%;
  background: url("/images/banner-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-content {
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
  height: 60%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.header-content p {
  color: rgba(247, 240, 240, 0.848);
}

.header-content h1 {
  color: rgba(247, 240, 240, 0.848);
}

section {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.zodiac-card {
  max-width: 350px;
  width: 100%;
  padding: 10px;
  margin: 15px;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  text-transform: capitalize;
  border-radius: 10px;
}

.zodiac-card li {
  color: rgba(247, 240, 240, 0.848);
}

.zodiac-card:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.zodiac-card-content {
  width: 100%;
  height: 100%;
  padding: 30px;
  backdrop-filter: blur(5px);
}

.zodiac-card-content h2 {
  color: rgba(247, 240, 240, 0.848);
}

.container {
  background-color: rgba(255, 255, 255, 0.336);
  padding: 40px;
  text-align: center;
  border-radius: 10px;
}

.container h2 {
  text-transform: capitalize;
  text-align: left;
  font-size: 50px;
  color: white;
}

.container h4 {
  text-align: left;
  color: white;
}

.container h5 {
  text-align: left;
  color: white;
}

.container img {
  background-color: white;
  padding: 10px;
  width: 500px;
  height: 500px;
  border-radius: 20px;
}
